@model List<Register>
<h1>List of Users</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">phoneNumber</th>
            <th scope="col">Address</th>
            <th scope="col">role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name </td>
                <td>@obj.Email</td>
                <td>@obj.phoneNumber</td>
                <td>@obj.Address</td>
                <td>@obj.role</td>
                <td>
                    <a class="btn bnt-primary" asp-action="Delete" asp-controller="Account">Delete Data</a>
                </td>

            </tr>
        }
        <a class="btn bnt-primary" asp-action="Edit" asp-controller="Static">Add Data</a>
    </tbody>
</table>
